<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIk_MgX_g0cQ7_UdZK5XH07U-29nq1moE</string>
	<key>GCM_SENDER_ID</key>
	<string>1088747629345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curriculi362</string>
	<key>PROJECT_ID</key>
	<string>course-generator-14124</string>
	<key>STORAGE_BUCKET</key>
	<string>course-generator-14124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088747629345:ios:45aeb0f141b37be19b2c60</string>
</dict>
</plist>